body{
    background-image: url("http://orig03.deviantart.net/0b76/f/2014/234/b/9/low_poly__poly_art__island_v2_by_ub18aux-d7w7qpw.jpg");
    background-size: 100%;
}
.navbar-default {
  background-color: #003366;
  border: 0px;
  border-radius: 0px;
  border-color: #003366;
  font-family: 'Helvetica', sans-serif;
  font-weight: 600;
}
.navbar-default .navbar-brand {
  animation: zoom 2s;
  transform: scale(0,0);
  color: #ffffff;
  animation-fill-mode: forwards;
  font-size: 150%;
}
@keyframes zoom {
    100% {
        transform: scale(1,1); 
    }
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  transition: 0.75s;
  color: #ffffff;
  background-color: #004080;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  text-align: center;
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    transition: 1s;
    background-color: #004080;
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #1a53ff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #3467ff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #3467ff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: black;
  background-color: #ffffff;
  transition: 0.5s;
   font-weight: 600; 
}
.navbar-default .navbar-nav > .active > a{
  color: gray;
  transition: background-color 1s linear;
  background-color: #ffffff;
  background-image: url("http://orig03.deviantart.net/0b76/f/2014/234/b/9/low_poly__poly_art__island_v2_by_ub18aux-d7w7qpw.jpg");
  font-weight: 600; 
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
   background-color: #cceeff;
   transition: 0.75s;
    font-weight: 600; 
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #3467ff;
}
.navbar-default .navbar-toggle {
  border-color: #3467ff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  transition: 0.5s;
  background-color: #3467ff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  transition: 0.5s;
  color: #ffffff;
  background-color: #004080;
}

@media (max-width: 1000px) {
    
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #3467ff;
  }
}

@media (min-width: 1000px) {
.navbar-default .navbar-nav > li > a {
  width: 150px;
}
}

@media (min-width: 767px) {
    
.navbar-default .navbar-brand{
  line-height:40px;
}
    
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  line-height:40px;
}

    .navbar-default {
  min-height: 40px;
}
.navbar-default .navbar-nav > li > a {
  line-height: 40px;
}

.navbar-default .navbar-brand {
  line-height: 40px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    line-height: 40px;
}
}

.inputDesign{
    width: 80%;
    padding: 12px 20px;
    margin: 0;
    display: inline-block;
    border: 0px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    line-height: 15px;
    font-size: 150%;
    font-family: 'Helvetica', sans-serif;
    color: gray;
}

.modal-header{
    border-bottom:0px;
}











/*CSS FOR RADIO SWITCH*/
.cb-enable, .cb-disable, .cb-enable span, .cb-disable span{
    background: url(switch.gif) repeat-x;
    display: block;
    float: left; 
}

.cb-enable span, .cb-disable span { 
    line-height: 30px;
    display: block;
    background-repeat: no-repeat;
    font-weight: bold;
}
	
.cb-enable span { 
    background-position: left -90px; 
    padding: 0 10px; 
}
	
.cb-disable span { 
    background-position: right -180px;
    padding: 0 10px; 
}
	
.cb-disable.selected { 
    background-position: 0 -30px; 
}
	
.cb-disable.selected span { 
    background-position: right -210px;
    color: #fff; 
}
	
.cb-enable.selected { 
    background-position: 0 -60px;
}
	
.cb-enable.selected span { 
    background-position: left -150px; 
    color: #fff; 
}
	
.switch label { 
    cursor: pointer;
}
/*END OF CSS FOR RADIO SWITCH*/